@charset "UTF-8";

:root {
    --font-Microsoft-Sans-Serif: "Microsoft Sans Serif";
    --cor-pardrão-letras: #FFF;
    --cor-botôes-cards: black;
    --bordas-botões-cards: 3px solid #0500F9;
}


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    color: var(--cor-pardrão-letras);
    font-family: var(--font-Microsoft-Sans-Serif);
}

/* Elements */
a{
    color: var(--cor-pardrão-letras);
}
body {
    background: linear-gradient(126deg, #000 14.48%, #080D01 19.32%, #6FBB0C 56.8%);
}

/* Styles relativos a page */
.link-btn {
    border-radius: 5px;
    border: 3px solid #0500F9;
    background: #000;
}
.link-card {
    background-color: var(--cor-botôes-cards);
    border: var(--bordas-botões-cards);
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 0;
    }
    img{
        width: 162px;
        height: 170px;
    }
}
.links-container-verMais {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}
.verMais-section-1{
    position: relative;
    left: 50px;
}
.links-container-cards {
    display: grid;
    grid-template-columns: 170px 170px 170px; /* Três colunas de tamanhos diferentes */
    grid-template-rows: 225px 225px; /* Duas linhas de tamanhos diferentes */
    grid-gap: 25px;
}
.cards-section-1{
    position: relative;
    top: auto;
    left: 90px;
    z-index: 2;
}
.cards-section-2{
    position: relative;
    top: auto;
    left: 40px;
    z-index: 2;
}


/* Styles relativos a navbar */
.navbar{
    background: linear-gradient(98deg, rgba(9, 9, 9, 0.87) 47.79%, #6FBB0C 71.69%);

    .nav-link, .navbar-brand {color: var(--cor-pardrão-letras);}
    .navbar-brand{
        font-size: 1rem;
        margin: auto;
    }
    .logo-controle {width: 10vh;}
    form .d-flex {
        width: 250px;
    }
    .form-control {
        width: 25rem;
        height: 27px;
        border-radius: 5px 0px 0px 5px;
    }
    /* Navegadores baseados no motor Gecko*/
    .form-control::-moz-placeholder {font-size: 0.7rem;}
    /* navegadores que não são baseados no motor Gecko (por exemplo, Chrome, Safari, Edge, etc.). */
    .form-control::placeholder {font-size: 0.7rem;}
    .seach-form-btn{
        background-color: #1E1E1E;
        background-image: url(/img/icons8-lupa-50.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 15px;
        height: 27px;
        padding: 5px 15px;
        border-radius: 0px 5px 5px 0px;
        border-color: #1E1E1E;
        border-right: 3px solid #6FBB0C;
    }
    .link-btn-cadastro{
        margin: 2px 30px;
    }

    @media screen and (max-width: 480px) {
        .container-fluid {
            padding: 10px 30px;
        }
        .collapse{
            margin-top: 25px;
        }
        .form-control {
            width: 24.1rem;
        }
        .nav-toggle-links{
            margin-top: 10px;

            ul.navbar-nav {
                flex-direction: row;
                justify-content: space-between;
            }
            .link-btn-cadastro{
                margin: 15px 0px;
                padding: 0px 15px;
            }
        }
    }
    @media screen and (max-width: 320px) {
        .container-fluid {
            padding: 10px 30px;
        }
        .collapse{
            margin-top: 25px;
        }
        .form-control {
            width: 14.1rem;
        }
        .nav-toggle-links{
            margin-top: 10px;

            ul.navbar-nav {
                flex-direction: row;
                justify-content: space-between;
            }
            .link-btn-cadastro{
                margin: 15px 0px;
                padding: 0px 15px;
            }
        }
    }
}

/* Styles relativos ao banner */
.header-section-banner{
    height: 307px;
    background: linear-gradient(120deg, #000 43.49%, #6FBB0C 73.34%);
    display: flex;
    flex-direction: column;
    /* isso faz a div passar por cima de outra ou qualquer container */
    position: relative;
    z-index: 1;

    .header-section-banner-div {
        margin: 50px 30px 3px 220px;

        h1 {
            margin-bottom: 30px;
            margin-right: 0;
            margin-left: 8px;
        }
        p {
            font-size: 20px;
        }
    }

    @media screen and (max-width: 320px) {
        .header-section-banner-div {
            margin: 50px 30px 20px 25px;
    
            h1 {
                margin-bottom: 10px;
            }
            p {
                font-size: 15px;
                margin-left: 28px;
            }
        }
    }
    @media screen and (max-width: 480px) {
        .header-section-banner-div {
            margin: 50px 30px 20px 25px;
    
            h1 {
                margin-bottom: 10px;
            }
            p {
                font-size: 15px;
                margin-left: 28px;
            }
        }
    }
}

/* Styles relativos ao main */
#main-section-1 {
    display: flex;
    justify-content: center;
    margin: 0;

    .main-section-div-btn{
        display: flex;
        justify-content: space-around;
        width: 500px;
        /* isso faz a div passar por cima de outra ou qualquer container */
        position: absolute;
        z-index: 2;
        top: 345px;

        .link-btn-btn{
            width: 70px;
            height: 75px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;

            img {
                background-repeat: no-repeat;
                background-size: contain;
                height: 40px;
                width: 40px;
                margin-top: 4px;
            }
            p {
                margin: 0;
                font-size: 13px;
            }
        }
        .link-btn-btn:hover {
            transform: translateY(-10px); /* Ajuste a quantidade de movimento para cima conforme necessário */
            transition: transform 0.3s ease;
        }
        .link-btn-btn:active {
            transform: translateY(-10px); /* Ajuste a quantidade de movimento para cima conforme necessário */
            transition: transform 0.3s ease;
        }

        @media screen and (max-width: 480px) {
            display: none;
        }
    }
    .main-section-div-container{
        display: flex;
        margin-top: 80px;
        

        img.img-div-container {
            width: 500px;
            height: 600px;
            position: relative;
            left: 90px;
        }
        .main-section-div-links-container{
            width: 600px;
            display: flex;
            flex-direction: column;
        }
    }
}
#main-section-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;

    h2 {
        margin-top: 15px;
        border-bottom: 1px solid #0500F9;
    }
    .main-section-div-container{
        display: flex;
        margin-top: 10px;
        

        img.img-div-container {
            width: 700px;
            height: 600px;
            position: absolute;
            left: 80px;
        }
        .main-section-div-links-container{
            width: 600px;
            display: flex;
            flex-direction: column;
            position: relative;
            left: 250px;
        }
    }
}

/* Styles realivos ao footer */
.footer-container{
    background: linear-gradient(131deg, rgba(111, 187, 12, 0.44) 53.64%, #000 69.16%);
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0; 
    }
    a {
        text-decoration: none;
    }

    .footer-container-div-info{
        margin-top: 40px;
    }
    .footer-container-div-categoria{
        margin-top: 40px;
    }
    .footer-container-div-redesSociais{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .div-redesSociais{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
        }

        img.redes{
            width: 32px;
            height: 32px;
        }

        img.logo{
            width: 54px;
            height: 40px;
        }
    }
}
